//* {
    box-sizing: border-box;
}

body {
    margin: auto;
    font-family: Lato, sans-serif;
    background-color: #F2E9E3;
    
}

header {
    border-bottom: 1px solid;
    border-color: black;
}

h1 {
    font-family: 'Libre Caslon Display', sans-serif;
    font-size: 2.5rem;
    padding-top: 2rem;
    padding-bottom: 1rem;
    padding-left: 4rem;
    font-weight: lighter;
}

nav {
    float: right;
    padding-right: 3rem;

}
ul {
    padding-left: 0rem;
    padding-bottom: 1rem;
    display: flex;
}

nav a {
    text-decoration: none;
    color:#A36F4D ;
}

li {
    list-style: none;
    padding:.5rem;
    font-size: .8rem;
}

article {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.images {
    width: 85%;
    margin: auto;
    text-align: center;
}



//*@media (max-width: 425px)  {

    h1 {
        font-size: 3rem;
    }

    h3 {
        font-size: .9rem;
    }
    ul li {
        font-size: .8rem;
    }

    .images {
        width: 100%;
    }
}

@media (max-width: 769px) {
    h1{
        font-size:3.5rem ;
    }

    h3 {
      font-size: 1.1rem;  
    }

    ul li {
        font-size: 1rem;
    }

    .images {
        width: 100%;
    }
}


@media (max-width: 1024px) {
    h1{
        font-size:3.5rem ;
    }

    h3 {
      font-size: 1.1rem;  
    }

    ul li {
        font-size: 1rem;
    }
}

@media (min-width: 1024px)  {
    h1{
        font-size:3.8rem ;
    }

    h3 {
      font-size: 1.3rem;  
    }

    ul li {
        font-size: 1.2rem;
    }
}



