* {
    box-sizing: border-box;
}

body {
    margin: auto;
    font-family: Lato, sans-serif;
    
}



h1 {
    font-family: 'Libre Caslon Display', sans-serif;
    font-size: 2rem;
    padding-top: 2rem;
    padding-left: 2rem;
    font-weight: lighter;
    float: left;
    margin: auto;
}

nav {
    padding-top: 2.5rem;
}

ul {
    display: flex;
    margin: auto;
    padding-left: 3rem;
}

nav a {
    text-decoration: none;
    color: black;
}

li {
    list-style: none;
    padding: .4rem;
    font-size: .9rem;
}

article {
    padding-top: 2rem;
}

article img {
    width: 70%;
}

.images {
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
}



@media (min-width: 425px)  {

    h1 {
        font-size: 3rem;
    }

    h3 {
        font-size: .9rem;
    }
    ul li {
        font-size: 1.2rem;
    }

    .images {
        display: grid;
        grid-template-columns: auto auto;
    }
    
    article {
        padding-top: 0;
    }

    article img {
        width: 80%
    }


}




@media (min-width: 768px) {
    .images {
        display: grid;
        grid-template-columns: auto auto auto;
    }
    
}

@media (min-width: 1024px)  {
    .images {
        display: grid;
        grid-template-columns: auto auto auto;
    }
    
}



