* {
    box-sizing: border-box;
}

body {
    margin: auto;
    font-family: Lato, sans-serif;
    background-color: #F2E9E3;
    
}



h1 {
    font-family: 'Libre Caslon Display', sans-serif;
    font-size: 4rem;
    padding-top: 2rem;
    padding-bottom: 1rem;
    padding-left: 4rem;
    font-weight: lighter;
    float: left;
    margin: 2rem;
    padding-right: 8rem;
}

nav {
    padding-top: 4rem;
    padding-bottom: 3.5rem;

}
ul {
    padding-bottom: 1rem;
    display: flex;
}

nav a {
    text-decoration: none;
    color: black;
}

li {
    list-style: none;
    padding:.7rem;
    font-size: 1.7rem;
}

article {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

article img {
    width: 70%;
}

.images {
    margin: auto;
    text-align: center;
    border-top: 1px solid;
    border-color: gray;
    padding-top: 2.5rem;
}



/*@media (max-width: 425px)  {

    h1 {
        font-size: 3rem;
    }

    h3 {
        font-size: .9rem;
    }
    ul li {
        font-size: .8rem;
    }

    .images {
        width: 100%;
    }
}

@media (max-width: 769px) {
    h1{
        font-size:3.5rem ;
    }

    h3 {
      font-size: 1.1rem;  
    }

    ul li {
        font-size: 1rem;
    }

    .images {
        width: 100%;
    }
}


@media (max-width: 1024px) {
    h1{
        font-size:3.5rem ;
    }

    h3 {
      font-size: 1.1rem;  
    }

    ul li {
        font-size: 1rem;
    }
}

@media (min-width: 1024px)  {
    h1{
        font-size:3.8rem ;
    }

    h3 {
      font-size: 1.3rem;  
    }

    ul li {
        font-size: 1.2rem;
    }
}



