* {
    box-sizing: border-box;
}

body {
    margin: auto;
    font-family: Lato, sans-serif;
    
}



h1 {
    font-family: 'Libre Caslon Display', sans-serif;
    font-size: 2rem;
    padding-top: 2rem;
    font-weight: lighter;
    margin: auto;
}

header {
    display: grid;
    grid-template-columns: auto auto;

}

nav {
    padding-top: 2.5rem;
    margin: auto;
}

ul {
    display: flex;
    padding: 0;
}

nav a {
    text-decoration: none;
    color: black;
}

li {
    list-style: none;
    padding: .4rem;
    font-size: .8rem;
}

article {
    padding-top: 2rem;
}

article img {
    width: 100%;
}

.images {
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 2.5rem;
}



@media (min-width: 426px)  {

    h1 {
        font-size: 2.1rem;
    }

    ul li {
        font-size: .9rem;
    }

    .images {
        display: grid;
        grid-template-columns: auto auto;
        grid-row-gap: 2rem;
        padding-bottom: 3rem;
    }
    
    article {
        padding-top: 0;
    }

    article img {
        width: 90%
    }


}




@media (min-width: 769px) {
    .images {
        display: grid;
        grid-template-columns: auto auto auto;
    }
    
}

@media (min-width: 1025px)  {
    .images {
        display: grid;
        grid-template-columns: auto auto auto;
    }
    
}



