* {
    box-sizing: border-box;
}

body {
    margin: auto;
    font-family: Lato, sans-serif;
}

h1 {
    font-family: 'Libre Caslon Display', sans-serif;
    font-size: 2rem;
    padding-top: 2rem;
    font-weight: lighter;
    margin: auto;
}

header {
    display: grid;
    grid-template-columns: auto auto;

}

nav {
    padding-top: 2.5rem;
    margin: auto;
}

ul {
    display: flex;
    padding: 0;
}

nav a {
    text-decoration: none;
    color: grey;
}

a:hover {
    color: #B87A60;
}

li {
    list-style: none;
    padding: .4rem;
    font-size: .8rem;
}

article {
    padding-top: 2rem;
}

article img {
    width: 100%;
    border-radius: 2rem;
}

article img:hover {
    opacity: .5;
    transition: 1s;
  }

.images {
    text-align: center;
    padding-bottom: 2.5rem;
}




@media (min-width: 427px) /*tablet*/ {

    h1 {
        font-size: 2.1rem;
    }

    ul li {
        font-size: .9rem;
    } 

    article {
        padding-top: 0;
    }

    .images {
        display: grid;
        grid-template-columns: auto auto;
        grid-row-gap: 1.8rem;
        padding-bottom: 3rem;
        padding-top: 2.5rem;
        width: 80%;
        margin: auto;
    }

    article img {
        width: 90%
    }


}




@media (min-width: 770px) /*laptop*/ {

    h1 {
        font-size: 2.4rem;
    }

    ul li {
        font-size: 1rem;
    }

    .images {
        display: grid;
        grid-template-columns: auto auto auto;
        padding-top: 4rem;
        grid-row-gap: 1rem;
        width: 75%;
    }

    article img {
        width: 95%;
    }
    
    
}

@media (min-width: 1026px) /*large laptop & up*/ {

    h1 {
        font-size: 2.7rem;
    }

    ul li {
        font-size: 1.1rem;
    }

    .images {
        padding-top: 4.2rem;
        grid-row-gap: 1.2rem;
        width: 70%;
    }

    article img {
        width: 95%;
    }
    
}



