* {
    box-sizing: border-box;
}

body {
    margin: auto;
    font-family: Lato, sans-serif;
}

h1 {
    font-family: 'Libre Caslon Display', sans-serif;
    font-size: 2rem;
    padding-top: 2rem;
    font-weight: lighter;
    margin: auto;
}

header {
    display: grid;
    grid-template-columns: auto auto;
    padding-bottom: 2rem;
}

nav {
    padding-top: 2.5rem;
    margin: auto;
}

ul {
    display: flex;
    padding: 0;
}

nav a {
    text-decoration: none;
    color: grey;
}

li {
    list-style: none;
    padding: .4rem;
    font-size: .8rem;
}

article {
    text-align: left;
    width: 85%;
    margin: auto;
    background-color: #B87A60;
    border-radius: 2rem;
    padding: 1rem;
}

.description {
    font-size: .8rem;
    color: white;
    padding: 1rem;
    padding-bottom: 1.5rem;
}

h3 {
    font-weight: bold;
    color: wheat;
    letter-spacing: .03rem;
    font-style: italic;
}

h2 {
    font-family: 'Libre Caslon Display', sans-serif;
    font-weight: lighter;
    font-size: 1.2rem;
    color: wheat;
}

p {
    letter-spacing: .02rem;
}

a {
    color: white;
}

@media (min-width: 427px)  {

    h1 {
        font-size: 2.1rem;
    }

    ul li {
        font-size: .9rem;
    }

    h2 {
        font-size: 1.3rem;
    }

    article {
        width: 75%;
    }

    .description {
        font-size: .9rem;
    }

}


@media (min-width: 770px) {

    h1 {
        font-size: 2.4rem;
    }

    ul li {
        font-size: 1rem;
    }

    h2{
        font-size: 1.4rem;
    }

    article {
        width: 75%;
    }

    .description {
        font-size: 1rem;
    }
}

@media (min-width: 1026px)  {

    header {
        padding-bottom: 3rem;
    }
    h1 {
        font-size: 2.7rem;
    }

    ul li {
        font-size: 1.1rem;
    }

    h2 {
        font-size: 1.5rem;
    }

    article {
        width: 65%;
    }

    .description {
        font-size: 1.1rem;
    }
    
} 