* {
    box-sizing: border-box;
}

body {
    margin: auto;
    font-family: Lato, sans-serif;
    
}



h1 {
    font-family: 'Libre Caslon Display', sans-serif;
    font-size: 2rem;
    padding-top: 2rem;
    font-weight: lighter;
    margin: auto;
}

header {
    display: grid;
    grid-template-columns: auto auto;

}

nav {
    padding-top: 2.5rem;
    margin: auto;
}

ul {
    display: flex;
    padding: 0;
}

nav a {
    text-decoration: none;
    color: black;
}

li {
    list-style: none;
    padding: .4rem;
    font-size: .8rem;
}

article {
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 3rem;
    display: grid;
    grid-template-columns: auto auto;
    
}

h2 {
    font-family: 'Libre Caslon Display', sans-serif;
    font-weight: lighter;
    font-size: 1.5rem;
}

article img {
    width: 50%;
}

.description {
    text-align: left;
    font-size: .8rem;
    margin: auto;
}

h3 {
    font-weight: bold;
    color: gray;
    letter-spacing: .03rem;
    font-style: italic;
}

p {
    letter-spacing: .02rem;
}


/* @media (min-width: 427px)  {

    h1 {
        font-size: 2.1rem;
    }

    ul li {
        font-size: .9rem;
    }

    h2 {
        font-size: 1.6rem;
    }

    article img {
        width: 85%
    }

    .description {
        font-size: .9rem;
        width: 75%;
        padding-top: 1rem;
    }


}




@media (min-width: 770px) {

    h1 {
        font-size: 2.4rem;
    }

    ul li {
        font-size: 1rem;
    }

    h2{
        font-size: 1.9rem;
    }

    article img {
        width: 80%;
    }

    .description {
        font-size: 1rem;
        width: 70%;
        padding-top: 1.5rem;
    }
    
}

@media (min-width: 1026px)  {

    h1 {
        font-size: 2.7rem;
    }

    ul li {
        font-size: 1.1rem;
    }

    h2 {
        font-size: 2.2rem;
    }

    article img {
        width: 75%;
    }

    .description {
        font-size: 1.1rem;
        width: 65%;
        padding-top: 2rem;
    }
    
} */