* {
    box-sizing: border-box;
}

body {
    margin: auto;
    font-family: Lato, sans-serif;
}

h1 {
    font-family: 'Libre Caslon Display', sans-serif;
    font-size: 2rem;
    padding-top: 2rem;
    font-weight: lighter;
    margin: auto;
}

header {
    display: grid;
    grid-template-columns: auto auto;
}

nav {
    padding-top: 2.5rem;
    margin: auto;
}

ul {
    display: flex;
    padding: 0;
}

nav a {
    text-decoration: none;
    color: grey;
}

li {
    list-style: none;
    padding: .4rem;
    font-size: .8rem;
}

article {
    text-align: left;
    padding-top: 2rem;
    padding-bottom: 3rem;
    width: 85%;
    margin: auto;
}

h2 {
    font-family: 'Libre Caslon Display', sans-serif;
    font-weight: lighter;
    font-size: 1rem;
}

article img {
    width: 60%;
    border: .25rem solid;
    border-color: #B87A60;
    border-radius: 2rem;
}

.description {
    font-size: .8rem;
}

h3 {
    font-weight: bold;
    color: #B87A60;
    letter-spacing: .03rem;
    font-style: italic;
}

p {
    letter-spacing: .02rem;
}


@media (min-width: 427px)  {

    h1 {
        font-size: 2.1rem;
    }

    ul li {
        font-size: .9rem;
    }

    h2 {
        font-size: 1.1rem;
        margin: 0;
    }

    article {
        display: grid;
        grid-template-columns: auto auto;
        width: 75%;
    }

    article img {
        width: 90%
    }

    .description {
        font-size: .9rem;
    }

}


@media (min-width: 770px) {

    h1 {
        font-size: 2.4rem;
    }

    ul li {
        font-size: 1rem;
    }

    h2{
        font-size: 1.2rem;
    }

    .description {
        font-size: 1rem;
    
}

@media (min-width: 1026px)  {

    h1 {
        font-size: 2.7rem;
    }

    ul li {
        font-size: 1.1rem;
    }

    h2 {
        font-size: 1.3rem;
    }

    article {
        width: 65%;
        padding-top: 3rem;
    }

    .description {
        font-size: 1.1rem;
    }
    
} 